<h1> Dice Roll </h1>

<form action = "/process_roll">
  <label for = "alice">Number of dice to roll?</label>
  <input id = "alice" type = "text" name ="dice">

  <label for = "How many sides per die">How many sides per die?</label>
  <input id = "How many sides per die" type = "text" name ="sides">

  <button type= "submit">Roll!</button>

</form>
