<h1> Dice Roll </h1>

<form action = "/process_roll">
  <label for = "dice_label">How many dice?</label>
  <input id = "dice_label" input type = "text" name ="dice">

  <label for = "sides_label">How many sides?</label>
  <input id = "sides_label" input type = "text" name ="sides">

  <button>Roll!</button>

</form>
